@using System.Reflection
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using WerkonWebServicesRatchet.Web.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@implements IDisposable

@if (!_isReady)
{
    <p>@L["Loading"]</p>
}
else if (_allowAnonymous)
{
    <RouteView RouteData="RouteData" DefaultLayout="DefaultLayout" />
}
else if (!_isAuthenticated)
{
    <RedirectToLogin />
}
else if (_requiresAdministrator && !_isAdministrator)
{
    <p role="alert">@L["AccessDenied"]</p>
}
else if (_requiresManagerOrAdministrator && !_isManagerOrAdministrator)
{
    <p role="alert">@L["AccessDenied"]</p>
}
else
{
    <RouteView RouteData="RouteData" DefaultLayout="DefaultLayout" />
}

@code {
    [Parameter]
    public RouteData RouteData { get; set; } = default!;

    [Parameter]
    public Type? DefaultLayout { get; set; }

    private bool _isReady;
    private bool _allowAnonymous;
    private bool _isAuthenticated;
    private bool _requiresAdministrator;
    private bool _requiresManagerOrAdministrator;
    private bool _isAdministrator;
    private bool _isManagerOrAdministrator;

    protected override void OnInitialized()
    {
        AuthenticationStateProvider.AuthenticationStateChanged += OnAuthStateChanged;
    }

    private async void OnAuthStateChanged(Task<AuthenticationState> task)
    {
        try
        {
            await InvokeAsync(async () =>
            {
                await RefreshAsync();
                StateHasChanged();
            });
        }
        catch
        {
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await RefreshAsync();
    }

    private async Task RefreshAsync()
    {
        _isReady = false;

        var pageType = RouteData.PageType;
        _allowAnonymous = pageType.GetCustomAttributes(typeof(AllowAnonymousAttribute), inherit: true).Length > 0;
        _requiresAdministrator = pageType.GetCustomAttributes(typeof(RequireAdministratorAttribute), inherit: true).Length > 0;
        _requiresManagerOrAdministrator = pageType.GetCustomAttributes(typeof(RequireManagerOrAdministratorAttribute), inherit: true).Length > 0;

        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        _isAuthenticated = state.User.Identity?.IsAuthenticated == true;
        _isAdministrator = state.User.IsInRole("Administrator");
        _isManagerOrAdministrator = _isAdministrator || state.User.IsInRole("Manager");

        _isReady = true;
    }

    public void Dispose()
    {
        AuthenticationStateProvider.AuthenticationStateChanged -= OnAuthStateChanged;
    }
}
