@page "/not-found"
@layout MainLayout
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]

<PageTitle>@L["NotFound_Title"]</PageTitle>

<h3>@L["NotFound_Title"]</h3>
<p>@L["NotFound_Message"]</p>
